<h1 style="text-align: center;">&nbsp;</h1>
<h1 style="text-align: center;"><strong><em>{{ flatpage.content }}</em></strong></h1>
<p style="text-align: center;">&nbsp;</p>
<h1 style="text-align: center;"><strong><span style="text-decoration: underline;">Мы познакомились </span></strong></h1>
<h1 style="text-align: center;"><strong><span style="text-decoration: underline;">с процессом </span></strong><span style="text-decoration: underline;">создания</span></h1>
<h1 style="text-align: center;"><span style="background-color: #00ff00;">красочных страниц</span></h1>
<p style="text-align: center;"><span style="background-color: #ff6600; color: #003366;"><strong>Как оказалось</strong></span></p>
<h1 style="text-align: center;"><span style="background-color: #00ff00;"><span style="background-color: #ff0000;"><span style="color: #ff00ff; background-color: #000000;">новых</span></span></span><span style="background-color: #000000; color: #ff00ff;"> возможностей </span></h1>
<h1 style="text-align: center;"><span style="background-color: #000000; color: #ff00ff;"><img src="https://html-online.com/editor/tiny4_9_11/plugins/emoticons/img/smiley-embarassed.gif" alt="embarassed" /> <img src="https://html-online.com/editor/tiny4_9_11/plugins/emoticons/img/smiley-cool.gif" alt="cool" /> <img src="https://html-online.com/editor/tiny4_9_11/plugins/emoticons/img/smiley-embarassed.gif" alt="embarassed" /> </span></h1>
<h1 style="text-align: center;"><span style="background-color: #000000; color: #993366;">очень много!!!</span></h1>
<p style="text-align: justify;"><span style="color: #00ff00; background-color: #993366;"><em><strong>Удачи в Ваших начинаниях!!! Дорогу осилит идущий!</strong></em></span></p>
<p>&nbsp;</p>